* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DAZNOscine', 'Oscine', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

h4,
h5,
h6 {
  font-family: 'DAZNTrim', 'AxisStd', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.winning::after {
  content: " 🏆";
}

.nerd::before {
  content: " 🤓";
}

.chat__sidebar {
  display: flex;
  flex-direction: column;
}

.chat__sidebar img {
  margin: 2rem auto 1rem auto;
}

.chat__sidebar h3 {
  text-align: center;
}

.chat__sidebar.quiz-over {
  align-items: center;
  width: 100%;
  display: flex;
}

.chat__sidebar.quiz-over #users {
  min-width: 80%;
  max-width: 1000px;
}

.hidden {
  display: none !important;
}

.start-button-container {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #FFE1EB;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

button {
  border: none;
  background-color: #960000;
  color: #FFE1EB;
  cursor: pointer;
  font-family: font-family: 'DAZNOscine', 'Oscine', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

button:hover {
  border: none;
  background-color: #B41D01;
  color: #FFE1EB;
}

.start-button {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #B41D01;
  padding-top: 20px;
  padding-bottom: 20px;
}

.daquestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-color: #FFE1EB;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#daquestion .countdown {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

#daquestion .countdown-time {
  background-color: #f7ff1a;
  border: 5px solid #f7ff1a;
  color: #FFE1EB;
  padding: 5px;
}

#daquestion .countdown-seconds {
  margin-left: 10px;
}

.daquestion-responses {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.daquestion-responses button {
  background-color: #960000;
  border: 5px solid #960000;
  color: #ffffff;
  margin: 10px;
}

.daquestion-responses .response-selected {
  border: 5px solid #f7ff1a;
}

.daquestion-responses .correct {
  background-color: #f7ff1a;
  border: 5px solid #f7ff1a;
  color: #FFE1EB;
  transform: scale(1.2);
}

.daquestion-responses .wrong {
  background-color: #FFE1EB;
  border: 5px solid #FFE1EB;
  color: #FFE1EB;
}

.daquestion-responses .response-selected.wrong {
  border: 5px solid #FFE1EB;
}

.wrong:hover {
  background-color: #F9C0D0;
  border: 5px solid #2c3135;
  color: #960000;
}

.next-question.disabled {
  background-color: #F9C0D0;
  color: #FFFAFA;
}

.next-question.disabled:hover {
  background-color: #F9C0D0;
  color: #FFFAFA;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }
  .hide-mobile{
    display:none !important;
  }

  .daquestion-responses button.response {
      padding: 0;
  }

  .chat {
    flex-direction: column;
  }

  .chat__sidebar {
    height: 30vh;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  .chat__sidebar.quiz-over {
    height: 100vh;
  }

  .chat__sidebar img {
    width: 50px;
    margin: 5px auto 0 auto;
  }

  .chat__sidebar h3 {
    font-size: 1rem;
  }

  .chat__sidebar li {
    background: #252d32;
    border: 0;
    padding: 0 5px 0 5px;
    margin: 2px 5px 2px 5px;
    text-align: center;
  }

  .daquestion {
    height: 70vh;
  }

  .chat__main {
    width: 100%
  }

  .chat__messages {
    height: 30vh;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }

  .daquestion-responses {
    flex-direction: column;
  }

  .daquestion-responses button {
    margin: 10px;
  }
}

.image-spin {
  -webkit-animation:spin 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation:spin 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation:spin 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
