.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.start-button-container {
  background-color: #0c161c;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  margin: 0 auto
}